@media (min-width: 600px){
    body {
        background-color: Olive;
        font-family: "Times New Roman", sans-serif;
    }
}
    @media (max-width: 599px){
    body {
        background-color: Yellow;
        font-family: "Lora", sans-serif;
    }
}
h1{
    font-size: 36pt;
    color: darkblue;
    text-align: center;
}
h2{
    font-size: 30pt;
    color: darkblue;
    text-align: center;
}
p{
    font-size: 20pt;
    color: darkblue;
    text-align: left;
}
a {
    font-size: 20pt;
    color: darkblue;
    text-align: left;
}
footer
{
    font-size: 20pt;
    color: darkblue;
    text-align: center;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th, td {
    border: 3px solid #555;
    padding: 8px;
    text-align: left;
    font-family: "Times New Roman", sans-serif;
}
.Time{
    font-family: "Berlin Sans FB", serif;
    color: aqua;
    font-size: 15pt;
    background-color: firebrick;
}
.Step{
    font-family: "Berlin Sans FB", serif;
    color: aqua;
    font-size: 20pt;
    background-color: sienna;
}
.header-row{
    font-family: "Berlin Sans FB", serif;
    color: darkmagenta;
    font-size: 25pt;
    background-color: saddlebrown;
}
#title {
    color: purple;
    font-size: 30pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.flexing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block_text{
    font-family: "Berlin Sans FB", serif;
    color: darkviolet;
    font-size: 20pt;
    text-align: center;
}
ul{
    font-family: "Berlin Sans FB", serif;
    color: darkred;
    font-size: 20pt;
}
